.AppBackground {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    background-image: url("../assets/svg/liquid-cheese.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0px;
    overflow: hidden;
    opacity: 0.70;
}

.AppForeground {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}

.AppForeground.Hide {
    opacity: 0;
}

.PagesContainer {
    position: relative;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    width: auto;
}

.Page {
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    opacity: 1;
    transition-property: left, opacity;
    transition-duration: 0.5s, 0.4s;
    transition-timing-function: ease-out, ease-in-out;
    transition-delay: 0s, 0.1s;
}

.Page.StageLeft {
    top: 0px;
    left: -100vw;
    opacity: 0;
    transition-property: left, opacity;
    transition-duration: 0.5s, 0.4s;
    transition-timing-function: ease-in, ease-in-out;
    transition-delay: 0s, 0s;
}

.Page.StageRight {
    top: 0px;
    left: 100vw;
    opacity: 0;
    transition-property: left, opacity;
    transition-duration: 0.5s, 0.4s;
    transition-timing-function: ease-in, ease-in-out;
    transition-delay: 0s, 0s;
}

.Page .PageHeader {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-bottom: 2px solid var(--colourPrimary);
        position: relative;
    }

.Page .PageTitle {
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    color: var(--colourPrimaryDarker10);
}

.AppTitle {
    display: flex;
    flex-direction: row;
    flex: 0 0 auto;
    font-family: "Linotte"; 
    font-weight: 700;
    font-size: 2.2vw;
}

@media (width <= 800px) {
    .AppTitle {
        font-size: 1.1rem;
    }
}

@media (width >= 1000px) {
    .AppTitle {
        font-size: 1.375rem;
    }
}

@media (width < 500px) {
    .AppTitle.PadLRXL {
        padding-left: 4px;
        padding-right: 4px;
    }  

    .AppTitleText {
        display: none;
    }   
}

.AppTitleText > span {
    color: var(--colourPrimaryDarker10);
}

.PageControlStrip {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15px;
    margin-right: 15px;
}

@media (width < 500px) {
    .PageControlStrip {
        margin-left: 4px;
        margin-right: 4px;
    }   
}

.PageBody {
    display: flex;
    flex-direction: column;
    height: auto;
    max-height: 100%;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.LanguageNewFlyout {
    height: 0px;
    flex: 0 0 auto;
    overflow-x: hidden;
    overflow-y: hidden;
    transition: height 0.5s ease-in-out;
}

.LanguageNewFlyout.Show {
    height: auto;
}

.FlyoutTitle {
    flex: 1 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: var(--colourPrimaryDarker10);
    align-items: baseline;
    border-bottom: 2px solid var(--colourPrimary);
}

.LanguageListBody {
    height: auto;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.AppModal {
    position: absolute;
    top: 0px;
    left: 0px;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    display: none;
    flex-direction: column;
    opacity: 0;
    transition-property: opacity, background-color, backdrop-filter;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
    transition-behavior: allow-discrete;
    background-color: var(--whitetranslucent70);
    backdrop-filter: none;
}

.AppModal.Show {
    opacity: 1;
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;

    @starting-style {
         opacity: 0;
         backdrop-filter: none;
    }
}

.AppWelcomePages {
    position: relative;
    width: 100%;
    height: 100%;
}

.Page .ModalContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    transform: translateY(-5%);
}

.Page .PageContent {
    display: flex;
    flex-direction: column;
    justify-content: left;
    height: 100%;
}

.Page .ModalTitle {
    align-self: center;
    color: var(--colourPrimaryDarker10);
}

.Page .SettingsTitle {
    align-self: left;
    color: var(--colourPrimaryDarker10);
}

.AppModalButtonStrip {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.SettingsActionGroup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SettingsActionGroup.Row {
    flex-direction: row;
}

.SettingsActionGroup.Column {
    flex-direction: column;
}

.HiddenElements {
    display: none;
}