.Font100 {
    font-weight: 100;
}

.Font200 {
    font-weight: 200;
}

.Font300 {
    font-weight: 300;
}

.Font400 {
    font-weight: 400;
}

.Font500 {
    font-weight: 500;
}

.Font600 {
    font-weight: 600;
}

.Font700 {
    font-weight: 700;
}

.Font800 {
    font-weight: 800;
}

.Italic {
    font-style: italic;
}

/* --- Japanese Fonts --- */
.KanaXL {
    font-size: 3vw;
    font-family: Noto Sans JP;
}

.KanaL {
    font-size: 2.6vw;
    font-family: Noto Sans JP;
}

.KanaM {
    font-size: 2.2vw;
    font-family: Noto Sans JP;
}

.KanaS {
    font-size: 2vw;
    font-family: Noto Sans JP;
}

.KanaXS {
    font-size: 1.8vw;
    font-family: Noto Sans JP;
}

/* --- Japanese Font Minimums --- */
@media (width <= 800px) {
    .KanaXL {
        font-size: 1.5rem;
    }

    .KanaL {
        font-size: 1.3rem;
    }

    .KanaM{
        font-size: 1.1rem;
    }

    .KanaS {
        font-size: 1rem;
    }

    .KanaXS {
        font-size: 0.9rem;
    }
}

/* --- Japanese Font Maximums --- */
@media (width >= 1000px) {
    .KanaXL {
        font-size: 1.875rem;
    }

    .KanaL {
        font-size: 1.625rem;
    }

    .KanaM {
        font-size: 1.375rem;
    }

    .KanaS {
        font-size: 1.25rem;
    }

    .KanaXS {
        font-size: 1.125rem;
    }
}


/* --- Equivalent English Fonts --- */
.RomanXXXL {
    font-size: 4vw;
    font-family: Linotte;
}

.RomanXXL {
    font-size: 3.2vw;
    font-family: Linotte;
}

.RomanXL {
    font-size: 2.6vw;
    font-family: Linotte;
}

.RomanL {
    font-size: 2.2vw;
    font-family: Linotte;
}

.RomanM {
    font-size: 1.9vw;
    font-family: Linotte;
}

.RomanS {
    font-size: 1.7vw;
    font-family: Linotte;
}

.RomanXS {
    font-size: 1.5vw;
    font-family: Linotte;
}

/* --- Equivalent English Font Minimums --- */
@media (width <= 800px) {
    .RomanXXXL {
        font-size: 2rem;
    }

    .RomanXXL {
        font-size: 1.6rem;
    }

    .RomanXL {
        font-size: 1.3rem;
    }

    .RomanL {
        font-size: 1.1rem;
    }

    .RomanM {
        font-size: 0.95rem;
    }

    .RomanS {
        font-size: 0.85rem;
    }

    .RomanXS {
        font-size: 0.75rem;
    }
}

/* --- Equivalent English Font Maximums --- */
@media (width >= 1000px) {
    .RomanXXXL {
        font-size: 2.5rem;
    }

    .RomanXXL {
        font-size: 2rem;
    }

    .RomanXL {
        font-size: 1.625rem;
    }

    .RomanL {
        font-size: 1.375rem;
    }

    .RomanM {
        font-size: 1.1875rem;
    }

    .RomanS {
        font-size: 1.0625rem;
    }

    .RomanXS {
        font-size: 0.9375rem;
    }
}
