.Font100 {
    font-weight: 100;
}

.Font200 {
    font-weight: 200;
}

.Font300 {
    font-weight: 300;
}

.Font400 {
    font-weight: 400;
}

.Font500 {
    font-weight: 500;
}

.Font600 {
    font-weight: 600;
}

.Font700 {
    font-weight: 700;
}

.Font800 {
    font-weight: 800;
}

.Italic {
    font-style: italic;
}

/* --- Japanese Fonts --- */
.KanaXL {
    font-size: clamp(1.5rem, 3vw, 1.875rem);
    font-family: Noto Sans JP;
}

.KanaL {
    font-size: clamp(1.3rem, 2.6vw, 1.625rem);
    font-family: Noto Sans JP;
}

.KanaM {
    font-size: clamp(1.1rem, 2.2vw, 1.375rem);
    font-family: Noto Sans JP;
}

.KanaS {
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-family: Noto Sans JP;
}

.KanaXS {
    font-size: clamp(0.9rem, 1.8vw, 1.125rem);
    font-family: Noto Sans JP;
}

@media (width < 500px) {
    .SmallFFKanaL {
        font-size: 1.3rem;
        font-family: Linotte;
    }

    .SmallFFKanaM {
        font-size: 1.1rem;
        font-family: Linotte;
    }

    .SmallFFKanaS {
        font-size: 1rem;
        font-family: Linotte;
    }

    .SmallFFKanaXS {
        font-size: 0.9rem;
        font-family: Linotte;
    }
}

/* --- Equivalent English Fonts --- */
.RomanXXXL {
    font-size: clamp(2rem, 4vw, 2.5rem);
    font-family: Linotte;
}

.RomanXXL {
    font-size: clamp(1.6rem, 3.2vw, 2rem);
    font-family: Linotte;
}

.RomanXL {
    font-size: clamp(1.3rem, 2.6vw, 1.625rem);
    font-family: Linotte;
}

.RomanL {
    font-size: clamp(1.1rem, 2.2vw, 1.375rem);
    font-family: Linotte;
}

.RomanM {
    font-size: clamp(0.95rem, 1.9vw, 1.1875rem);
    font-family: Linotte;
}

.RomanS {
    font-size: clamp(0.85rem, 1.7vw, 1.0625rem);
    font-family: Linotte;
}

.RomanXS {
    font-size: clamp(0.75rem, 1.5vw, 0.9375rem);
    font-family: Linotte;
}

@media (width < 500px) {
    .SmallFFRomanXXL {
        font-size: 1.6rem;
        font-family: Linotte;
    }

    .SmallFFRomanXL {
        font-size: 1.3rem;
        font-family: Linotte;
    }

    .SmallFFRomanL {
        font-size: 1.1rem;
        font-family: Linotte;
    }

    .SmallFFRomanM {
        font-size: 0.95rem;
        font-family: Linotte;
    }

    .SmallFFRomanS {
        font-size: 0.85rem;
        font-family: Linotte;
    }

    .SmallFFRomanXS {
        font-size: 0.75rem;
        font-family: Linotte;
    }
}
