cc-languageitemlist {
    display: contents;
}

.CCLanguageItemList {

    /** 
     * Container - the outermost rendered element that acts as an anchor for all other CSS 
     */
    &.Container {
        display: flex;
        flex-direction: column;
        flex: 1 0 auto;
    }

    .ListHeader {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-bottom: 2px solid var(--colourPrimary);
        position: relative;
    }

    .ListTitle {
        flex: 1 0 auto;
        display: flex;
        justify-content: center;
        color: var(--colourPrimaryDarker10);
    }

    .ButtonStipContainer {
        position: absolute;
        top: 0px;
        right: 0px;
        display: flex;
        flex-direction: row;
        width: fit-content;
    }

    .Section.Hide {
        display: none;
    }

    .SectionHeader {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        border-bottom: 2px solid var(--colourPrimary);
    }

    .SectionTitle {
        flex: 0 0 auto;
    }

    .SectionSubTitle {
        flex: 1 0 auto;
    }

    .SectionBody {
        transition: all 0.5s ease-in-out;
        overflow: hidden;
        opacity: 1;
    }

    .SectionBody.Hide {
        height: 0px;
        opacity: 0;
    }

}